* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Roboto, sans-serif;
  margin: 0;
  background: #cbcfd3;
  color: #000000;
}
header {
  background: linear-gradient(120deg, #ff6c03, #ff000097);
  color: #fff;
  padding: 60px 20px;
  text-align: center; 
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
section {
  background: #fff;
  border-radius: 30px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 10px 25px rgba(141, 148, 164, 0.08);
}
section h2 {
  margin-top: 0;
  color: #bf0000e7;
}
footer {
  padding: 24px;
  text-align: center;
  background: #dee0e3;
  font-size: 0.9rem;
}

/*menu de navigation*/
.navbar {
    background: #333;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* IMPORTANT */
.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: white;
}

.dropdown:hover .submenu {
    display: block;
}

/* Caché sur ordinateur */
.burger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    
}

/* Version mobile */
@media screen and (max-width: 768px) {

    .burger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #333;
    }

    .menu.active {
        display: flex;
    }
}
@media (max-width: 700px) {
  img {
    width: 300px;
  }
}